In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
data=pd.read_csv(r"C:\Users\User\Downloads\train.csv")
f=pd.DataFrame(data)
s=f.replace(np.nan, 0)
print(s.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     0        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     0        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     0        S

In [2]:
d=s.loc[s["Sex"]=="female"]   
#oldest female

i=s.loc[s["Sex"]=="male"]
#oldest male

e=d.loc[d["Survived"]==1]
#oldest female who survived

o=i.loc[i["Survived"]==1]
#oldest male who survived

q=d["Survived"][d["Survived"]==0].count()
#this is the number of females that died

w=d["Survived"][d["Survived"]==1].count()
#this is the number of females that survived

r=i["Survived"][i["Survived"]==0].count()
#this is the number of males that died

t=i["Survived"][i["Survived"]==1].count()
#this is the number of males that survived

print("the oldest female on the titanic was", d["Age"].max())
print("the oldest male on the titanic was", i["Age"].max())
print("the oldest female on the titanic who survived was", e["Age"].max())
print("the oldest male on the titanic who survived was", o["Age"].max())
print("the number of females that died were",q)
print("the number of females that survived were",w)
print("the number of males that died were",r)
print("the number of males that survived were",t)
print("Observation 1: It seems not a lot of old folks died ")
print("Observation 2: More men died than women.")

the oldest female on the titanic was 63.0
the oldest male on the titanic was 80.0
the oldest female on the titanic who survived was 63.0
the oldest male on the titanic who survived was 80.0
the number of females that died were 81
the number of females that survived were 233
the number of males that died were 468
the number of males that survived were 109
Observation 1: It seems not a lot of old folks died
Observation 2: More men died than women.

In [3]:
s["Sex"]=s["Sex"].replace(["female","male"],[0,1])
print(s["Sex"])
print(s.head())
#to replace a categoraical column with numerical column

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int64
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    1  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1      0
2                             Heikkinen, Miss. Laina    0  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1      0
4                           Allen, Mr. William Henry    1  35.0      0      0

             Ticket     Fare Cabin Embarked
0         A/5 21171   7.2500     0        S
1          PC 17599  71.2833   C85        C
2  STON/O2. 3101282   7.9250     0        S
3            113803  53.1000  C123        S
4            373450   8.0500     0        S

In [6]:
#now we're running predictions
x=s[["Pclass", "Sex"]].values
y=s["Survived"].values


from sklearn.model_selection import train_test_split
x_train, x_test,y_train, y_test=train_test_split(x,y,test_size=0.3)
print(x.shape)
print(y.shape)

from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)
#print(model.predict(x_test))
print(model.score(x_test,y_test))

(891, 2)
(891,)
0.8059701492537313